@model LeadNew.Models.tbProducto

@{
    ViewData["Title"] = "Create";
}

    <div style="padding-top: 5em;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "tbProductoes")">Listado de Productos</a></li>
                <li class="breadcrumb-item active" aria-current="page">crear producto</li>
            </ol>
        </nav>
        <h2>Crear Producto</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="formGroupExampleInput">Código de producto:</label>
                    <input type="text" class="form-control" id="prIdInterno" placeholder="Código de producto">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Detalle de producto:</label>
                    <textarea class="form-control" id="prDetalle" placeholder="Detalle de producto"></textarea>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Cantidad de producto:</label>
                    <input type="number" class="form-control" id="prCantidad" placeholder="Cantidad de producto">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Precio de Costo:</label>
                    <input type="number" class="form-control" id="prPrecioCosto" placeholder="Precio de Costo">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Precio de Venta:</label>
                    <input type="number" class="form-control" id="prPrecioVenta" placeholder="Precio de Venta">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Imagen del producto:</label>
                    <input type="file" class="form-control" id="img">
                </div>
                <div class="form-group">
                    <label>Categoría:</label>
                    <div class="form-group">
                        <select class="form-control" id="prCategoria" name="prCategoria"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Moneda:</label>
                    <div class="form-group">
                        <select class="form-control" id="prMoneda" name="prMoneda"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Sucursal:</label>
                    <div class="form-group">
                        <select class="form-control" id="prIdSucursal" name="prIdSucursal"></select>
                    </div>
                </div>
                <button type="button" class="btn btn-success" onclick="formcheck();">Crear Producto</button>
            </div>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        $(document).ready(function () {
            var laURLVista = '@Url.Action("CategoriaLista", "tbProductoes")';
            $.ajax({
                url: laURLVista,
                type: 'POST',
                cache: false,
                success: function (data) {
                    var items = '<option>Seleccione categoría</option>';
                    $.each(data, function (i, state) {
                        items += "<option value='" + state.value + "'>" + state.text + "</option>";
                    });
                    $('#prCategoria').html(items);
                },
                error: function (jqXHR, textStatus, error) {
                    alert(error, textStatus);
                }
            });
        });

        $(document).ready(function () {
            var laURLVista = '@Url.Action("MonedaLista", "tbProductoes")';
            $.ajax({
                url: laURLVista,
                type: 'POST',
                cache: false,
                success: function (data) {
                    var items = '<option>Seleccione Moneda</option>';
                    $.each(data, function (i, state) {
                        items += "<option value='" + state.value + "'>" + state.text + "</option>";
                    });
                    $('#prMoneda').html(items);
                },
                error: function (jqXHR, textStatus, error) {
                    alert(error, textStatus);
                }
            });
        });

        $(document).ready(function () {
            var laURLVista = '@Url.Action("SucursalesLista", "tbProductoes")';
            $.ajax({
                url: laURLVista,
                type: 'POST',
                cache: false,
                success: function (data) {
                    var items = '<option>Seleccione Sucursal</option>';
                    $.each(data, function (i, state) {
                        items += "<option value='" + state.value + "'>" + state.text + "</option>";
                    });
                    $('#prIdSucursal').html(items);
                },
                error: function (jqXHR, textStatus, error) {
                    alert(error, textStatus);
                }
            });
        });
    </script>

    <script>
        function formcheck() {
            var isValid = true;
            $('input[type="text"], input[type = "password"], input[type = "number"]').each(function () {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    $(this).css({
                        "border": "1px solid red"
                    });
                }
                else {
                    $(this).css({
                        "border": "",
                        "background": ""
                    });
                }
            });
            if (isValid == false) {
                e.preventDefault();
            } else {
                Crear();
            }
        }

        function Crear() {
            var fd = new FormData();
            var fd = new FormData();
            var prIdInterno = $("#prIdInterno").val();
            var prDetalle = $("#prDetalle").val();
            var prCantidad = $("#prCantidad").val();
            var prPrecioCosto = $("#prPrecioCosto").val();
            var prPrecioVenta = $("#prPrecioVenta").val();
            var prMoneda = $("#prMoneda").val();
            var prIdSucursal = $("#prIdSucursal").val();

            if (document.getElementById("img").files == "") {
                var imagen = $("#img").get(0).files;
            } else {
                var imagen = $("#img").get(0).files;
            }

            fd.append("prIdInterno", prIdInterno);
            fd.append("prDetalle", prDetalle);
            fd.append("prCantidad", prCantidad);
            fd.append("prPrecioCosto", prPrecioCosto);
            fd.append("prPrecioVenta", prPrecioVenta);
            fd.append("prMoneda", prMoneda);
            fd.append("prIdSucursal", prIdSucursal);

            for (var i = 0; i < imagen.length; i++) {
                fd.append("img", imagen[i]);
            }

            $.ajax({
                url: '@Url.Action("CrearProducto", "tbProductoes")',
                type: 'POST',
                cache: false,
                processData: false,
                contentType: false,
                processData: false,
                dataType: 'json',
                data: fd,
                success: function (data) {
                    if (data == true) {
                        location.href = '@Url.Action("Index", "tbProductoes")';
                    } else if (data == false) {
                        alert("Error al ingresar Producto");
                    } else if (data == "Existe") {
                        alert("El código de producto ya existe");
                    }
                },
                error: function (jqXHR, textStatus, error) {
                    var exception = JSON.parse(jqXHR.responseText);
                    alert("error al enviar datos" + exception);
                }
            });
        }
    </script>
}
