@model LeadNew.Models.tbProducto

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbProducto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.prIdInterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prIdInterno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.prDetalle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prDetalle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.prCantidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prCantidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.prPrecioCosto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prPrecioCosto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.prPrecioVenta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prPrecioVenta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.prMoneda)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prMoneda)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.prEstado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prEstado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.prFechaIngreso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prFechaIngreso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.prUsuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prUsuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.prIdSucursal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prIdSucursal)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="prId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
