@model IEnumerable<LeadNew.Models.tbEmpresa>

    @{
    ViewData["Title"] = "Index";
    }

    <div style="padding-top: 5em;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Listado De Empresas</li>
            </ol>
        </nav>
        <h2>Listado De Empresas</h2>
        <p>
            <a class="btn btn-success" asp-action="Create"><img src="~/images/add-24px.svg" class="img-fluid" alt="Responsive image">Crear Empresa</a>
        </p>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Nombre Empresa</th>
                    <th>Direccion</th>
                    <th>Telefonos</th>
                    <th>Logo</th>
                    <th>Pais</th>
                    <th>Licencia</th>
                    <th>Cantidad de Puntos</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                     {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.empNombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.empDireccion)</td>
                    <td>@Html.DisplayFor(modelItem => item.empTelefono)</td>
                    <td>@Html.DisplayFor(modelItem => item.empLogo)</td>
                    <td>@Html.DisplayFor(modelItem => item.empPais)</td>
                    <td>@Html.DisplayFor(modelItem => item.empLicencia)</td>
                    <td>@Html.DisplayFor(modelItem => item.empCantidadUser)</td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.empId"><img src="~/images/create-24px.svg" class="img-fluid" alt="Responsive image">Editar</a>
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.empId"><img src="~/images/remove_red_eye-24px.svg" class="img-fluid" alt="Responsive image">Detalles</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.empId"><img src="~/images/delete-24px.svg" class="img-fluid" alt="Responsive image">Eliminar</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>  
