@model LeadNew.Models.tbPaises

@{
    ViewData["Title"] = "Paises";
}

<h2>Eliminar</h2>

<h3>Desea Eliminar este Registro?</h3>
<div>
    <h4>Pais</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.paId)
        </dd>
        <dt>
            Nombre:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.paNombre)
        </dd>
        <dt>
            Codigo Postal:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.paCodPostal)
        </dd>
        <dt>
            Abreviatura:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.paAbreviatura)
        </dd>
        <dt>
            Fecha Creacion:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.paFechaCrea)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="paId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regreso a Lista</a>
    </form>
</div>