@model LeadNew.Models.tbSucursales

@{
    ViewData["Title"] = "Sucursales";
}


<div style="padding-top: 5em;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "tbMonedas")">Listado de Sucursales</a></li>
            <li class="breadcrumb-item active" aria-current="page">editar Sucursales</li>
        </ol>
    </nav>
    <h2>Editar</h2>
    <div class="row">
        <hr />
        <div class="row">
            <div class="col-md-12">
                <input type="number" class="form-control" id="sucId" value="@Model.sucId" disabled="disabled" readonly>
                <div class="form-group">
                    <label for="formGroupExampleInput">Nombre Sucursal:</label>
                    <input type="text" class="form-control" id="sucNombre" placeholder="Nombre Sucursal" value="@Model.sucNombre" maxlength="100">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Nombre Empresa:</label>
                    <input type="text" class="form-control" id="sucIdEmpresa" placeholder="Nombre Empresa" value="@Model.sucIdEmpresa">
                </div>
                <button type="button" class="btn btn-success" onclick="formcheck();">Editar Moneda</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function formcheck() {
            var isValid = true;
            $('input[type="text"], input[type = "password"], input[type = "number"]').each(function () {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    $(this).css({
                        "border": "1px solid red"
                    });
                }
                else {
                    $(this).css({
                        "border": "",
                        "background": ""
                    });
                }
            });
            if (isValid == false) {
                e.preventDefault();
            } else {
                Editar();
            }
        }

        function Editar() {
            var fd = new FormData();
            var id = $("#sucId").val();
            var idempresa = $("#sucIdEmpresa").val();
            var nombresucursal = $("#sucNombre").val();

            fd.append("id", id);
            fd.append("nombreempresa", idempresa);
            fd.append("nombre", nombresucursal);

            $.ajax({
                url: '@Url.Action("EditarSucursal", "tbSucursales")',
                type: 'POST',
                cache: false,
                processData: false,
                contentType: false,
                processData: false,
                dataType: 'json',
                data: fd,
                success: function (data) {
                    if (data == true) {
                        location.href = '@Url.Action("Index", "tbSucursales")';
                    } else if (data == false){
                        alert("Error al Ingresar Sucursal");
                    }
                },
                error: function (jqXHR, textStatus, error) {
                    var exception = JSON.parse(jqXHR.responseText);
                    alert("Error al Enviar Datos" + exception);
                }
            });
        }
    </script>

}

