@model LeadNew.Models.tbCategoriaProducto

@{
    ViewData["Title"] = "Edit";
}

<div style="padding-top: 5em;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "tbCategoriaProducto")">Listado Categoría de Productos</a></li>
            <li class="breadcrumb-item active" aria-current="page">editar categoría de producto</li>
        </ol>
    </nav>
    <h2>Editar Categoría de Producto</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="formGroupExampleInput">Nombre de categoría:</label>
                <input type="number" class="form-control" id="catId" value="@Model.catId" hidden="hidden">
                <input type="text" class="form-control" id="catNombre" value="@Model.catNombre" placeholder="nombre de la categoría">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Descripción de categoria:</label>
                <textarea class="form-control" id="catDescripcion" placeholder="Descripción de categoría">@Model.catDescripcion</textarea>
            </div>
            <button type="button" class="btn btn-success" onclick="formcheck();">Crear Categoría</button>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function formcheck() {
            var isValid = true;
            $('input[type="text"], input[type = "password"], input[type = "number"]').each(function () {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    $(this).css({
                        "border": "1px solid red"
                    });
                }
                else {
                    $(this).css({
                        "border": "",
                        "background": ""
                    });
                }
            });
            if (isValid == false) {
                e.preventDefault();
            } else {
                Crear();
            }
        }

        function Crear() {
            var fd = new FormData();
            var fd = new FormData();
            var catNombre = $("#catNombre").val();
            var catDescripcion = $("#catDescripcion").val(); 
            var catId = $("#catId").val();

            fd.append("catNombre", catNombre);
            fd.append("catDescripcion", catDescripcion);
            fd.append("catId", catId);

            $.ajax({
                url: '@Url.Action("EditarCategoria", "tbCategoriaProducto")',
                type: 'POST',
                cache: false,
                processData: false,
                contentType: false,
                processData: false,
                dataType: 'json',
                data: fd,
                success: function (data) {
                    if (data == true) {
                        location.href = '@Url.Action("Index", "tbCategoriaProducto")';
                    } else if (data == false) {
                        alert("Error al ingresar la categoria");
                    }
                },
                error: function (jqXHR, textStatus, error) {
                    var exception = JSON.parse(jqXHR.responseText);
                    alert("error al enviar datos" + exception);
                }
            });
        }
    </script>
}