@model LeadNew.Models.tbTasaCambio

@{
    ViewData["Title"] = "Details " + " ";
}

    <div style="padding-top: 5em;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "tbTasaCambios")">Listado de tasa de cambios</a></li>
                <li class="breadcrumb-item active" aria-current="page">Detalles</li>
            </ol>
        </nav>
        <h2>Detalles Tasa de Cambios</h2>
        <dl class="dl-horizontal">
            @foreach (var item in ViewData["TasaCambios"] as IEnumerable<LeadNew.Models.TasaCambioVista>)
            {
                <dt>
                    Descripción
                </dt>
                <dd>
                    @item.tcDescripcion
                </dd>
                <dt>
                    Fecha de Ingreso
                </dt>
                <dd>
                    @item.tcFechaIngreso
                </dd>
                <dt>
                    Moneda
                </dt>
                <dd>
                    @item.moNombre
                </dd>
                <dt>
                    Valor
                </dt>
                <dd>
                    @item.tcValor
                </dd>
            }
        </dl>
    </div>