@model LeadNew.Models.tbMoneda

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbMoneda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.moAbreviatura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.moAbreviatura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.moNombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.moNombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.moUsuarioCrea)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.moUsuarioCrea)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.moFechaCrea)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.moFechaCrea)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.moUsuarioModifica)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.moUsuarioModifica)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.moFechaModifica)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.moFechaModifica)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="moId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
