@*@model IEnumerable<LeadNew.Models.tbMoneda>*@

@{
    ViewData["Title"] = "Monedas " + " ";
}

<div style="padding-top: 5em;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Listado de monedas</li>
        </ol>
    </nav>
    <h2>Listado de Monedas</h2>

    <p>
        <a class="btn btn-success" asp-action="Create"><img src="~/images/add-24px.svg" class="img-fluid" alt="Responsive image">Crear Moneda</a>
    </p>
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>
                    Abreviatura
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Creada por:
                </th>
                <th>
                    Fecha de creación
                </th>
                <th>
                    Modificado por:
                </th>
                <th>
                    Fecha de modificación
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewData["monedas"] as IEnumerable<LeadNew.Models.MonedaVista>)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.moAbreviatura)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.moNombre)
                    </td>
                    <td>
                        @item.usuNombres @item.usuApellidos
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.moFechaCrea)
                    </td>
                    <td>
                        @item.usuNombresMod @item.usuApellidosMod
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.moFechaModifica)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.moId"><img src="~/images/create-24px.svg" class="img-fluid" alt="Responsive image">Editar</a>
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.moId"><img src="~/images/remove_red_eye-24px.svg" class="img-fluid" alt="Responsive image">Detalles</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.moId"><img src="~/images/delete-24px.svg" class="img-fluid" alt="Responsive image">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


