
    <div class="table-responsive">
        <div style="padding-bottom: 0.5em;">
            <input class="form-control" type="text" onkeyup="myFunction()" id="txt_busq" placeholder="buscar producto" />
        </div>
        <table id="tbl_productos" class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        Código de producto
                    </th>
                    <th>
                        Detalle
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Precio de Venta
                    </th>
                    <th>
                        Moneda
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewData["Productos"] as IEnumerable<LeadNew.Models.tbProducto>)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.prIdInterno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.prDetalle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.prCantidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.prPrecioVenta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.prMoneda)
                        </td>
                        <td>
                            <a class="btn btn-success addBtn"><img src="~/images/add-24px.svg" class="img-fluid" alt="Responsive image">Agregar Producto</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function(){
            $("#txt_busq").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#tbl_productos tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });    
    </script>

    <script>
        var items = [];

        $(".addBtn").on("click", function () {
            var newTr = $(this).closest("tr").clone();
            items.push(newTr);
            newTr.appendTo($("#tbl_facturacion"));

        });
    </script>

    