
    <div class="table-responsive">
        <div style="padding-bottom: 0.5em;">
            <input class="form-control" type="text" onkeyup="myFunction()" id="txt_busq" placeholder="buscar producto" />
        </div>
        <table id="tbl_productos" class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        Código de producto
                    </th>
                    <th>
                        Detalle
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Precio de Venta
                    </th>
                    <th>
                        Moneda
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewData["Productos"] as IEnumerable<LeadNew.Models.tbProductoFactura>)
                {
                    <tr>
                        <td id="Cod_pr">
                            @Html.DisplayFor(modelItem => item.prIdInterno)
                        </td>
                        <td id="Det_pr">
                            @Html.DisplayFor(modelItem => item.prDetalle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.prCantidad)
                        </td>
                        <td id="Pre_pr">
                            @Html.DisplayFor(modelItem => item.prPrecioVenta)
                        </td>
                        <td id="Mon_pr">
                            @Html.DisplayFor(modelItem => item.moNombre)
                        </td>
                        <td>
                            @*<a class="btn btn-success" id="addBtn"><img src="~/images/add-24px.svg" class="img-fluid" alt="Responsive image">Agregar Producto</a>*@
                            <a id="add_row" onclick="AgregarPr('@item.prIdInterno', '@item.prDetalle', '@item.prPrecioVenta', '@item.moNombre', '@item.desPorcentaje', '@item.impPorcentaje', '@item.prCantidad');" class="btn btn-success pull-left"><img src="~/images/add-24px.svg" class="img-fluid" alt="Responsive image">Agregar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        
    </div>
    
    <script>
        var i = 1;
        function AgregarPr(codigo_pr, detalle_pr, venta_pr, moneda_pr, descuento_pr, impuesto_pr, cantidad_pr) {
            //var codigo_pr = $("#Cod_pr").text();
            //alert(codigo_pr);
            var cant = 0;            
            $('#addr' + i).html("<td>" + (i + 0) + " </td>" +
                "<td><input name = 'codigo_pr" + i + "' type = 'text' value=" + codigo_pr + " class='form-control input-md' /> </td >" +
                "<td><input name='detalle_pr" + i + "' type='text' value=" + detalle_pr + " class='form-control input-md'></td>" +
                "<td><input onchange='myFunction(this, "+ venta_pr +", "+ i +", "+ descuento_pr +", "+ impuesto_pr +", "+ cantidad_pr +")' name='cantidad" + i + "' type='number' id='"+ i +"' value=" + cant + " placeholder='Cantidad' class='form-control input-md'></td>" +
                "<td><input name='descuento" + i + "' type='number' value=" + descuento_pr + " class='form-control input-md'></td>" +
                "<td><input id='precioventa "+ i +"' name='precioventa" + i + "' type='number' value=" + venta_pr + " class='form-control input-md'></td>" +
                "<td><input name='impuesto" + i + "' type='number' value=" + impuesto_pr + " class='form-control input-md'></td>" +
                "<td><input name='moneda" + i + "' type='text' value=" + moneda_pr + " class='form-control input-md'></td>" +
                "<td><input id='total"+i+"' name='total" + i + "' value=" + (cant * venta_pr) + " type='number' class='form-control input-md'></td>" +
                "<td><a id='delete_row' onclick='QuitarProducto(this)' class='pull-right btn btn-danger'><img src='~/images/delete-24px.svg' class='img-fluid' alt=''>Quitar producto</a></td>"
            );

            $('#tab_logic').append('<tr id="addr' + (i + 1) + '"></tr>');
            i++;            
        }

        function myFunction(cant, precio, i, descuento, impuesto, cantidad) {              
            if (parseInt(cant.value) > parseInt(cantidad)) {
                alert("La cantidad de productos excede al de inventario");
            } else {
                if (descuento > 0) {
                    var desc = (descuento / 100);
                    var subtotal = ((cant.value * precio) * desc);
                    var precioDesc = ((cant.value * precio) - subtotal);
                    var impuesto_ = (impuesto / 100);                
                    $("#total"+i).val(precioDesc);
                } else {
                    var total = (cant.value * precio);
                    var impuesto_ = (impuesto / 100);
                    $("#total"+i).val(total);
                }
            }                                
        }
            
        function QuitarProducto(producto) {
            var row = producto.parentNode.parentNode;
            row.parentNode.removeChild(row);
        }
    </script>

    <script>
        $(document).ready(function(){
            $("#txt_busq").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#tbl_productos tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });    
    </script>

    <script>
        var items = [];

        $(".addBtn").on("click", function () {
            var newTr = $(this).closest("tr").clone();
            console.log(newTr);
            items.push(newTr);
            console.log(items.push(newTr));
            newTr.appendTo($("#tbl_facturacion"));
        });
    </script>

    <script>
        arr1 = [
            { "Name": "Peter", "RollNo": 1234, },
            { "Name": "John", "RollNo": 1234, },
            { "Name": "Kevin", "RollNo": 1234, },
        ];

        $.each(arr1, function (i) {
            var templateString = '<table class="table card"><thead> <tr><td><p>My name is: ' + arr1[i].Name + '</p><p>My RollNo is: ' + arr1[i].RollNo + '</p></td></tr></thead></table>';
            $('#test').append(templateString);
        })
    </script>

    